.content {
  margin: 10%;
  margin-top: 45px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.items {
  width: 65%;
}
.items h2 {
  font-size: x-large;
}

.itemList {
  margin-top: 20px;
  border-top: 1px solid black;
}
.item {
  display: flex;
  padding: 20px;
  padding-right: 0;
  justify-content: space-between;
}
.image {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}
.details h3 {
  font-size: large;
  width: 250px;
}
.quantityBox {
  height: 30px;
  border: 1px solid black;
}
.quantityInput {
  height: 100%;
  width: 80px;
  padding-left: 10px;
  text-align: center;
}
.price {
  width: 25%;
}
.price h2 {
  font-size: x-large;
}
.subtotal {
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.grandTotal {
  padding-top: 10px;
  border-top: 1px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}
.price button {
  margin-top: 30px;
  height: 40px;
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
}
.price button:active {
  background-color: gray;
}
